{% extends '_base.html' %}

{% block title %}Detalhes do Livro{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2>{{ livro.titulo }}</h2>
                <p>Autor: {{ livro.autor }}</p>
                <p>Ano de Publicação: {{ livro.ano_publicacao }}</p>
            </div>
        </div>
    </div>
</div>

<a href="{% url 'livros:adicionar_livro' %}">Adicionar novo livro</a>
{% endblock %}
